body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}


header {
    background-color: #963484;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    place-self: center;
    padding-left: 10%;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.aboutme_container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.aboutme_text {
    background: #3066BE;
    color: white;
    padding: 2% 10%;
    line-height: 1.8vw;
    font-family: 'Afacad', sans-serif;
    font-size: 90%;
}

.aboutme_title {
    font-family: 'Alata';
    font-weight: 400;
}

.skills {
    border-radius: 10px;
    padding: 2% 3%;
    max-width: 70%;
    color: rgb(57, 57, 57);
    background: #60AFFF;
    font-size: 140%;
    margin-top: 4%;
}

.portfolio_img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.linkedin {
      background-color: #EA4C89;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 110%;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
    }

    .linkedin:hover {
        background-color: #963484;
    }
    

.title1 {
    background-color: #EA4C89;
    color:#fff;
    text-align: start;
    padding: 2% 2%;
    font-size: 1.5em;
}

.title2 {
    text-align: start;
    padding: 0.1% 2%;
    background-color: #963484;
    color: white;
}

.content1 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.mobileapp_text {
    background-color: #3066BE;
    padding: 10%;
    font-family: 'Afacad', sans-serif;
    color: white;
    font-size: 110%
}


.title3 {
    text-align: start;
    padding: 0.1% 2%;
    background-color: #963484;
    color: white;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(27, 27, 27);
}

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.webapp1_text {
    background-color: #60AFFF;
    padding: 10% 15%;
    font-family: 'Afacad', sans-serif;
}

.webapp_link1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.code_link1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.code_link1:hover {
    background-color: #963484;
}

.webapp2_text {
    background-color: #3066BE;
    padding: 10% 15%;
    font-family: 'Afacad', sans-serif;
}

.webapp2_buttons {
    background-image: url("./images/web2.jpg");
    background-size: cover; /* or contain, or a specific size like 100% 100% */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webapp_link2 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.code_link2 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: #963484;
    padding: 2% 0;
    text-align: center;
    color: white;
}

.footer_link {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.footer_link:hover {
    background-color: #60AFFF;
}



@media all and (max-width: 600px) {
    
    /* HEADER */

    .nav {
        display: none;
    }
    
    .hamburger {
        position: relative;
        display: inline-block;
      }
      
      .hamburger-content {
        display: none;
        position: absolute;
        right:0;
        z-index:1;
      }

      .hamburger-content ul {
        flex-direction: column;
      }

      .hamburger-content ul li {
        background-color: yellow;
        border-bottom: 1px solid blue;
        width:100%;
      }

      .hamburger:hover .hamburger-content {
        display: block;
      /* animation: popup .5s ease-in-out both; */
      }
      
      .hamburger span {
        transition: transform .5s;
      -webkit-transition: -webkit-transform .5s;
        display: block;
        transform: rotate(90deg);
      }
      
      .hamburger:hover span {
        transition: transform .5s;
      -webkit-transition: -webkit-transform .5s;
        display: block;
        transform: rotate(180deg);
      }


}






