body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Questrial';
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #373737;
    font-family: 'Alata', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


.icon {
    place-self: center;
    padding-left: 10%;
    font-size: 1.8vw;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.3vw;
}

a {
    text-decoration: none;
    color: #373737;
    font-weight: bolder;
}

a:hover {
    color: rgb(182, 0, 112);
}

.aboutme_container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 5%;
    margin-left: 5%;
}

.aboutme_text {
    padding: 4% 12%;
    line-height: 2vw;
    font-size: 100%;
    background: rgba(38, 38, 38, 0.9);
    border-radius: 1%;
    margin: 0 3%;
    color: rgb(246, 240, 240);
}

.bootcamp_title {
    color: rgb(250, 134, 153);
    font-size: 110%;
}

.aboutme_title {
    font-family: 'Alata';
    font-weight: bold;
    font-size: 2.2vw;
    color: rgb(250, 134, 153);
}

.skills {
    border-radius: 10px;
    padding: 2% 3%;
    max-width: 70%;
    color: #FFFFFF;
    background-color: rgb(182, 0, 112);
    font-size: 1.0vw;
    margin-top: 4%;
    line-height: 1.8vw;
    font-weight: bolder;
}

.skills_title {
    font-size: 1.2vw;
    font-family: 'questrial';
}

.portfolio_img {
    max-width: 90%;
    min-height: 90%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10%;
}

.linkedin {
      background-color: rgb(250, 134, 153);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 110%;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0% 1%;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
    }

    .linkedin:hover {
        background-color: #60AFFF;
    }
    

.title1 {
    color:rgb(89, 89, 89);
    text-align: start;
    padding: 2% 0 0.5% 10%;
    font-size: 1.5em;
    font-family: 'Alata', sans-serif;
}

.title2 {
    text-align: start;
    padding: 5% 0 0 10%;
    color: rgb(89, 89, 89);
    font-size: 1.3vw;
    margin-bottom: 3%;
}

.content1 {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 5%;
    gap: 3vw;
    background: rgba(255, 169, 242, 0.1);
    padding: 2% 5%;
    margin-bottom: 2%;
}

.mobileapp_text {
    padding: 10%;
    border-radius: 10%;
    color: rgb(89, 89, 89);
    font-size: 1.2vw;
}


.title3 {
    text-align: start;
    padding: 0 10%;
    color: rgb(89, 89, 89);
    font-size: 1.3vw;
    margin-bottom: 3%;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(89, 89, 89);
    background: rgba(255, 255, 255, 0.7);
    margin: 0 5%;
}

.content1_img{
    width: 80%; 
    height: 80%;
    border-radius: 1%;
    box-shadow: 0px 5px 15px rgb(250, 134, 153, 0.5);
    margin-top: 10%;
}

.content2_img{
    width: 80%; 
    height: 80%;
    border-radius: 1%;
    margin-top: 6%;
    box-shadow: 0px 5px 15px rgb(250, 134, 153, 0.5);
}

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(89, 89, 89);
    margin: 2% 2%;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 5%;
}

.webapp1_text {
    padding: 10% 15%;
}

.webapp_link1 {
    background-color:rgb(182, 0, 112);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.webapp_link1:hover {
        background-color: rgb(250, 134, 153);
}

.code_link1 {
    background-color: rgb(182, 0, 112);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.code_link1:hover {
    background-color: rgb(250, 134, 153);
}

.webapp2_text {
    padding: 5% 15%;
}

.webapp2_buttons {
    background-image: url("./images/web2.jpg");
    background-size: cover; /* or contain, or a specific size like 100% 100% */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.web-app {
    color: rgb(250, 134, 153);
    font-size: 1.2vw;
}

.webapp_link2 {
    background-color: rgb(182, 0, 112);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.webapp_link2:hover {
    background-color: rgb(250, 134, 153);
}

.code_link2 {
    background-color: rgb(182, 0, 112);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 1% 2%;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.code_link2:hover {
    background-color: rgb(250, 134, 153);
}

footer {
    background: rgba(255, 255, 255, 0.9);
    padding: 2% 0;
    text-align: center;
    color: grey;
}

.footer_link {
    background-color: rgb(250, 134, 153);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2%;
}

.footer_link:hover {
    background-color: #60AFFF;
}

.title-text {
    line-height: 140%;
}



@media screen and (max-width: 599px) {
    body {
      width: 100%; /* Make the container full width */
      padding: 0 5px; /* Add some padding for better readability */
    }
    /* Additional mobile styles can be added here */
  }










